<h1>Editing Book</h1>
<!-- form_for部分 -->
<%= form_for(@book) do |f| %>
  <div class="field">
 	<lavel for="book-title">Title</lavel></br>
    <%= f.text_field :title %>
  </div>

  <div class="field" >
    <lavel for="book-body">Boby</lavel></br>
    <%= f.text_area :body %><br>
  </div>

  <div class="action" >
    <%= f.submit 'Update Book' %>
  </div>
<% end %>

<%= link_to 'Show', book_path(@book.id)%> | 
<%= link_to 'Back', book_path %>
