<h1>Editing Book</h1>
<!-- form_for部分 -->
<%= form_for(@book) do |f| %>
  <div class="field">
 	  <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field" >
    <%= f.label :body %>
    <%= f.text_area :body %><br>
  </div>

  <div class="action" >
    <%= f.submit 'Update Book' %>
  </div>
<% end %>

<%= link_to 'Show', book_path(@book.id)%> | 
<%= link_to 'Back', book_path %>
